<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mai.nix.maiapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mai"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mai_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSettingsActivity"
            android:label="@string/user_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeSecondary">
        </activity>
        <activity
            android:name=".AboutAcivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeSecondary">
        </activity>
    </application>

</manifest>